ul.jpage-ul {
    border: none;
    margin: 0 0;
    padding: 0;
    list-style-type: none;
}

li.jpage-li {
    list-style-type: none;
    border: none;
    margin: 0 0;
    padding: 0;
}

#alTable-tbody tr td {
    border-bottom: 1px dotted #A00;
    border-left: 1px dotted #A00;
}

#alTable-tbody tr td {
    max-width: 500px;
}

#atTable-tbody tr td {
    max-width: 500px;
}

#adTable-tbody tr td {
    border-bottom: 1px dotted #A00;
    border-left: 1px dotted #A00;
}

#adTable-tbody tr td {
    max-width: 500px;
}

#adTable-tbody tr td {
    max-width: 500px;
}

.jTableBodyInputEditing {
    width: 250px !important;
    height: 30px !important;
}

.jTableBodyInputEditing[type="number"] {
    width: 50px !important;
}
