.margin-top-five-pixels {
  margin-top: 5px;
}

.margin-top-ten-pixels {
  margin-top: 10px;
}

.margin-top-twenty-pixels {
  margin-top: 20px;
}

.margin-top-fifty-pixels {
  margin-top: 50px;
}

.margin-top-hundred-pixels {
  margin-top: 100px;
}

.margin-top-one-fifty-pixels {
  margin-top: 150px;
}

.margin-top-two-hundred-pixels {
  margin-top: 200px;
}

.margin-left-five-pixels {
  margin-left: 5px;
}

.margin-left-ten-pixels {
  margin-left: 10px;
}

.margin-left-twenty-pixels {
  margin-left: 20px;
}

.margin-left-fifty-pixels {
  margin-left: 50px;
}

.margin-left-hundred-pixels {
  margin-left: 100px;
}

.margin-left-one-fifty-pixels {
  margin-left: 150px;
}

.margin-left-two-hundred-pixels {
  margin-left: 200px;
}

.margin-right-five-pixels {
  margin-right: 5px;
}

.margin-right-ten-pixels {
  margin-right: 10px;
}

.margin-right-twenty-pixels {
  margin-right: 20px;
}

.margin-right-fifty-pixels {
  margin-right: 50px;
}

.margin-right-hundred-pixels {
  margin-right: 100px;
}

.margin-right-one-fifty-pixels {
  margin-right: 150px;
}

.margin-right-two-hundred-pixels {
  margin-right: 200px;
}

.margin-bottom-five-pixels {
  margin-bottom: 5px;
}

.margin-bottom-ten-pixels {
  margin-bottom: 10px;
}

.margin-bottom-twenty-pixels {
  margin-bottom: 20px;
}

.margin-bottom-fifty-pixels {
  margin-bottom: 50px;
}

.margin-bottom-hundred-pixels {
  margin-bottom: 100px;
}

.margin-bottom-one-fifty-pixels {
  margin-bottom: 150px;
}

.margin-bottom-two-hundred-pixels {
  margin-bottom: 200px;
}

.no-margin {
  margin: 0 0;
}
