@font-face {
    font-family: "Linux Libertine";
    src: url(/Fonts/LinLibertine_R.woff);
}
@font-face {
    font-family: "Linux Libertine";
    src: url(/Fonts/LinLibertine_RB.woff);
    font-weight: bold;
}
@font-face {
    font-family: "Linux Libertine";
    src: url(/Fonts/LinLibertine_RI.woff);
    font-style: italic;
}
@font-face {
    font-family: "Linux Libertine";
    src: url(/Fonts/LinLibertine_RBI.woff);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Linux Biolinum";
    src: url(/Fonts/LinBiolinum_R.woff);
}
@font-face {
    font-family: "Linux Biolinum";
    src: url(/Fonts/LinBiolinum_RB.woff);
    font-weight: bold;
}
@font-face {
    font-family: "Linux Biolinum";
    src: url(/Fonts/LinBiolinum_RI.woff);
    font-style: italic;
}
@font-face {
    font-family: "Tengwar";
    src: url(/Fonts/tengtelc.ttf);
}

body {
	font-family: 'Linux Libertine';
}

.qtip.qtip-medium {
    font-size: 12pt !important;
}
.qtip.qtip-abbr {
    font-weight: bold !important;
}
.qtip {
    font-size: 10pt !important;
}

/* Override Material UI default font */
button, a[type=button] {
	font-family: 'Linux Biolinum' !important;
}
