ul.jpage-ul {
    border: none;
    margin: 0 0;
    padding: 0;
    list-style-type: none;
}

li.jpage-li {
    list-style-type: none;
    border: none;
    margin: 0 0;
    padding: 0;
}

section#content a.jpage-anchor {
    color: #545454;
    text-decoration: none;
}

section#content a.jpage-anchor:hover {
    color: #DA7B00;
    text-decoration: none;
}

ul#cases {
    list-style: none;
}

span.value::before {
    content: "= ";
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
}

li.sortable-placeholder::before {
    content: "= ···";
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
}
