div#upage {
    position: relative;
}

nav#unav {
    position: absolute;
    top: 0px;
    left: 0px;
}

ul.jpage-ul {
    border: none;
    margin: 0 0;
    padding: 0;
}

li.jpage-li {
    list-style-type: none;
    border: none;
    margin: 0 0;
    padding: 0;
}

section#content a.jpage-anchor {
    color: #545454;
    text-decoration: none;
}

section#content a.jpage-anchor:hover {
    color: #DA7B00;
    text-decoration: none;
}

#ucontent {
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 150px;
}

#alTable-tbody tr td {
    border-bottom: 1px dotted #A00;
    border-left: 1px dotted #A00;
}

#alTable-tbody tr td {
    max-width: 500px;
}

#atTable-tbody tr td {
    max-width: 500px;
}

#adTable-tbody tr td {
    border-bottom: 1px dotted #A00;
    border-left: 1px dotted #A00;
}

#adTable-tbody tr td {
    max-width: 500px;
}

#adTable-tbody tr td {
    max-width: 500px;
}

.jTableBodyInputEditing {
    width: 250px !important;
    height: 30px !important;
}

.jTableBodyInputEditing[type="number"] {
    width: 50px !important;
}

span.value::before {
    content: "= ";
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
}
