@font-face {
	font-family: Promocyja;
	src: url("Promocyja.otf") format("opentype");
}


* {
	font-family: Promocyja;
	font-size: 20pt;
}
h1, h2 {
	font-weight: normal;
}
h1 {
	font-size: 48pt;
	margin: 5px;
	color: #195A08;
}
h2 {
	font-size: 30pt;
}
tr.pos td {
	font-size: 30pt;
}
thead td {
	font-size: 26pt;
}
button, td + td, td + td * {
	font-family: Gentium Plus, Linux Libertine, serif;
	font-size: 14pt;
	text-align: left;
}
thead td + td {
	font-size: 18.2pt;
}


table, td {
	border-color: #005;
	border-style: solid;
	border-width: 1px;
	border-spacing: 0;
	border-collapse: collapse;
}

tbody {
	border-width: 0px;
	display: table-row-group;
}

td {
	margin: 0;
	padding: 4px;
	border-width: 1px;
	text-align: center;
}

tr.pos, tr.pos td {
	border-top-width: 0px;
}

tr {
	transition: background-color 0.2s;
}
tr.error {
	background-color: #DE4B76;
}
table {
	transition: background-color 0.2s;
}
table.success {
	background-color: #E8FBE8;
}


.ui-sortable-handle {
	color: #000;
}
.ui-sortable-handle:hover,
.ui-sortable-helper {
	background-color: rgba(255, 255, 255, 0.7);
	color: #1212B3;
	transition: color 0.3s;
}

.ui-sortable-placeholder {
	visibility: inherit !important;
	background-color: #F3F3F3;
}
.ui-sortable-placeholder td {
	border-color: #DCDCDC;
}
