@font-face {
	font-family: Promocyja;
	src: url("Promocyja.otf") format("opentype");
}

/* Center page */
content, content > * {
	margin-left: auto !important;
	margin-right: auto !important;
}
content > button {
	display: block;
}
h1 {
	text-align: center;
}

/* Fonts, sizes, colors */
.title {
	font-family: Promocyja;
}
button, table, table * {
	font-family: Gentium Plus, Linux Libertine, serif;
	font-size: 14pt;
}
*, .word {
	font-family: Promocyja;
	font-size: 22pt;
}
.def, .search td + td, .new td + td {
	text-align: left;
}
.word {
	white-space: nowrap;
	width: -mox-fit-content;
	padding: 14px;
}
input {
	font: inherit;
}
h1, h2 {
	font-weight: normal;
}
h1 {
	font-size: 48pt;
	margin-top: 0px;
	margin-bottom: 5px;
	color: #195A08;
}
h2 {
	font-size: 30pt;
}
td:first-child:last-child.title {
	color: #823EBD;
}
tr.pos td {
	font-size: 30pt;
}
thead td {
	font-size: 26pt;
}
thead td + td {
	font-size: 18.2pt;
}
td.edit {
	font-size: 30pt;
	width: 1.4em;
}
td.del {
	cursor: pointer;
	font-size: 34.6pt;
	color: #C91717;
	width: 1.2em;
}

/* Table border */
table, td {
	border-color: #005;
	border-style: solid;
	border-width: 1px;
	border-spacing: 0;
	border-collapse: collapse;
	transition: border-color 0.5s cubic-bezier(0.56,0.59,0.44,2.89) 0s;
}

/* remember to define focus styles! */
td[contenteditable]:focus {
	outline: none;
	border: 1px double #1E8000;
}
td[contenteditable].empty {
	color: gray;
}

#dict {
	max-width: 80%;
}

tbody {
	border-width: 0px;
}

td {
	margin: 0;
	padding: 4px;
	text-align: center;
}

td.word input,
.search td:first-child input,
tr.new td:first-child input {
	text-align: center !important;
}
td.def {
	padding-left: 8px;
}

tr.pos, tr.pos td {
	border-top-width: 0px;
}

tr {
	transition: background-color 0.2s;
}
tr.error {
	background-color: #DE4B76;
}
table {
	transition: background-color 0.2s;
}
table.success {
	background-color: #E8FBE8;
}


div#status {
	position: fixed;
	width: 30%;
	top: calc(4% + 2.25em);
	left: 35%;
	/*background-color: rgba(204, 136, 51, 0.7); /-* #CC8833 *-/*/
	background-color: rgba(204, 108, 0, 0.7); /* #D69347 */
	border-radius: 5px;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #EFEFEF;
}
div#status.error {
	background-color: #CC3333;
}
div#status.success {
	background-color: #78A83D;
}

/* JQuery UI Sortable */
.ui-sortable-handle {
	color: #000;
	cursor: grab;
	transition: color 0.5s cubic-bezier(0.15, 0.35, 0.14, 2.71) 0s;
}
.ui-sortable-disabled .ui-sortable-handle {
	cursor: auto;
	color: #000 !important;
}
.ui-sortable-handle:hover,
.ui-sortable-helper {
	background-color: rgba(255, 255, 255, 0.7);
	color: #1212B3;
}
.ui-sortable-helper,
.ui-sortable-helper .ui-sortable-handle {
	cursor: grabbing;
}
.ui-sortable-helper {
	margin-left: -1px;
}
tbody.ui-sortable-helper tr:not(.pos) {
	display: none;
}

.ui-sortable-placeholder {
	visibility: inherit !important;
	background-color: #F3F3F3;
}
.ui-sortable-placeholder td {
	border-color: #DCDCDC;
}

#login, #login form * {
	font-family: serif;
	font-size: 14pt;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#login form br {
	display: none;
}
#login .signup {
	display: none;
}
